@font-face {
  font-family: OpenSans;
  src: local("OpenSans-Regular"),
    url("OpenSans-Regular.ttf") format("ttf"),
    url("OpenSans-Regular.woff") format("woff"),
    url("OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans-Bold"),
    url("OpenSans-Bold.ttf") format("ttf"),
    url("OpenSans-Bold.woff") format("woff"),
    url("OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  margin: 0 auto;
  font-family: OpenSans, Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

/* Шапка сайта */

.header {
  min-width: 360px;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  max-width: 640px;
  margin: 0 auto;
}

.header-logo {
  width: 270px;
  margin: 174px auto 30px;
}


.main-title {
  margin: 0 40px 210px 40px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.39;
}

.menu {
  display: none;
}

.burger-menu {
  width: 23px;
  height: 20px;
  position: relative;
  margin: 31px 16px auto auto;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 8px;
}

.burger-menu span:nth-child(3) {
  top: 16px;
}


/* Основное содержимое */

.trends-list {
  margin: 0 auto;
  min-width: 360px;
  max-width: 640px;
}

.trends-list-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.trends-list-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 66px;
  padding-top: 6px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.trends {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 232px;
  padding: 15px;
  margin-bottom: 2px;
  background-color: #000000;

  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;
  z-index: 0;
}

.trends::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-2 {
  background-image: url("../images/trend2.jpg");
}

.trend-3 {
  background-image: url("../images/trend3.jpg");
}

.trend-4 {
  background-image: url("../images/trend4.jpg");
}

.trends-header {
  padding: 25px 20px;
  border: 3px solid #b59f5b;
}

.trends-tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-bottom: 11px;
}

.trends-tags-link {
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  text-transform: uppercase;
}

.trends-tags-link:hover {
  text-decoration: underline;
}

.trends-title {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.posts-list {
  min-width: 360px;
  max-width: 640px;
  padding: 44px 15px 0;
  margin: 0 auto;
}

.posts-list-item {
  border-bottom: 3px solid #eeeeee;
  margin-bottom: 35px;
}

.post-foto {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

/* .post-wrapper {
  width: 100%;
} */

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 5px;
}

.post-tags-link {
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  text-transform: uppercase;
}

.post-tags-link:hover {
  text-decoration: underline;
}

.post-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.post-date {
  font-size: 12px;
  color: #888888;
  margin-right: 8px;
}

.author {
  font-size: 12px;
  font-weight: bold;
}

.post-header {
  margin-bottom: 15px;
}

.post-content-1 {
  margin-bottom: 12px;
}

.post-content {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 20px;
}

/* Новые посты */

.side-bar {
  min-width: 360px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 15px;
}

.side-bar-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.side-bar-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 66px;
  padding-top: 11px;
  border-bottom: 4px solid #b59f5b;
  opacity: 0.4;
}

.last-posts-list {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-bottom: 21px;
}

.last-post-foto {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.last-post-date {
  font-size: 12px;
  color: #888888;
  line-height: 0;
}

.last-post-title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.search {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
}

.search-group {
  width: 100%;
}

.search-field {
  width: 100%;
  height: 50px;
  padding: 18px;
  font-size: 13px;
  color: #000000;
  opacity: 0.541;
  background-color: #f3f7f5;
  border: none;
  outline: none;
}

.search-field:focus {
  border-bottom: 1px solid #b59f5b;
}

.search-button {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  background-color: #b59f5b;
  height: 50px;
  min-width: 50px;
  cursor: pointer;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subscribe-form {
  margin-bottom: 37px;
}

.subscribe {
  margin-top: -11px;
  display: block;
}

.subscribe-field {
  height: 50px;
  width: 100%;
  padding: 18px;
  font-size: 13px;
  color: #000000;
  opacity: 0.541;
  background-color: #f3f7f5;
  border: none;
  outline: none;
}

.subscribe-field:focus {
  border-bottom: 1px solid #b59f5b;
}

.subscribe-button {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  color: #ffffff;
  background-color: #b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

/* .subscribe-button:hover {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
} */

.tags-list {
  margin-bottom: 37px;
}

.tags-title {
  margin-bottom: 23px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-link {
  padding: 5px 13px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
}

.categories-title {
  margin-bottom: 10px;
}

.category-link {
  padding: 12px 0px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

.theme-count {
  font-size: 12px;
  vertical-align: super;
  color: #b59f5b;
  margin-left: 5px;
}

.our-products {
  min-width: 360px;
  max-width: 640px;
  padding: 44px 15px 0;
  margin: 0 auto;
}

.our-products-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.products-foto {
  display: block;
  padding: 0 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-content {
  padding: 48px 22px 25px 18px;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  justify-self: flex-end;
  flex-grow: 1;
}

.products-item-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}

.products-item-content {
  font-size: 15px;
  line-height: 1.4666;
  margin-bottom: 23px;
}

.products-item-link {
  color: #b59f5b;
}

.products-item-link:hover {
  text-decoration: underline;
}

.products-footer {
  display: flex;
  justify-content: space-between;
}

.products-price {
  align-self: center;
}

.old-price {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.new-price {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.shop-btn {
  padding: 14px 28px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  background-color: #b59f5b;
  border-radius: 0;
}


/* Подвал сайта */

.footer {
  min-width: 360px;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 42px;
  padding: 0 15px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f3f7f5;
}

.socials-item-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  margin: 30px 15px;
}

.link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  text-align: center;
}


@media (max-width: 640px) and (orientation: landscape) {
  .trends-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }

  .trends {
    width: calc((100% - 2px)/2);
    margin-bottom: 0;
  }
}

@media (min-width: 641px) and (orientation: portrait) {
  .header {
    min-width: 641px;
    max-width: 1200px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .container-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
  }

  .header-logo {
    width: 159px;
    margin: 0;
  }

  .logo-link {
    width: 200px;
    padding: 13px 20px 84px 20px;
  }

  .burger-menu {
    margin: 23px 20px auto auto;
  }

  .main-title {
    padding: 0 50px 85px;
    margin: 0;
    font-size: 40px;
    line-height: 1.375;
  }

  .trends-title {
    font-size: 17px;
  }

  .trends-list {
    margin: 0 auto;
    min-width: 641px;
    max-width: 1200px;
  }

  .trends-list-title {
    margin-bottom: 18px;
    font-size: 18px;
  }

  .trends-list-title::after {
    padding-top: 13px;
  }

  .trends-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }

  .trends {
    width: calc((100% - 2px)/2);
    margin-bottom: 0;
    height: 247px;
    padding: 15px 20px;
  }

  .trends-header {
    padding: 30px 35px 30px 30px;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
    min-width: 641px;
    max-width: 1200px;
    gap: 35px;
    padding: 50px 35px 0;
  }

  .posts-list {
    flex-grow: 1;
    min-width: 235px;
    max-width: none;
    padding: 0;
  }

  .side-bar {
    min-width: 272px;
    padding: 0;
  }

  .post-title {
    margin-bottom: 30px;
    font-size: 17px;
  }

  .post-header {
    margin-bottom: 25px;
  }

  .post-tags {
    margin-bottom: 8px;
  }

  .post-content {
    font-size: 15px;
    line-height: 1.4667;
    margin-bottom: 23px;
  }

  .posts-list-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .side-bar-title {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .side-bar-title::after {
    padding-top: 8px;
  }

  .last-posts-list {
    margin-bottom: 19px;
  }

  .search {
    margin-bottom: 60px;
  }

  .subscribe-form {
    margin-bottom: 50px;
  }

  .tags-list {
    margin-bottom: 55px;
  }

  .categories-title {
    margin-bottom: 10px;
  }

  .our-products {
    min-width: 641px;
    max-width: 1200px;
    padding: 44px 35px 0;
  }

  .products-title {
    font-size: 18px;
  }

  .our-products-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .our-products-item {
    width: calc((100% - 20px)/2);
    margin-bottom: 10px;
  }
}

@media (min-width: 641px) and (orientation: landscape) {

  .trends-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }

  .trends {
    width: calc((100% - 6px)/4);
    margin-bottom: 0;
  }


}